<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:imu_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        suffix="">
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </xacro:imu_macro>

    <xacro:laser_scanner_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        suffix="_front">
        <origin xyz="0.25602 -0.21602 0.1487" rpy="3.1416 0 -0.7854"/>
    </xacro:laser_scanner_macro>

    <xacro:laser_scanner_macro
        namespace="${namespace}"
        parent_link="${namespace}/base_link"
        suffix="_rear">
        <origin xyz="-0.25602 0.21602 0.1487" rpy="-3.1416 0 2.3562" />
    </xacro:laser_scanner_macro>

</robot>